*{
  margin:0;
  padding:0;
  font-family:Arial;
}
body .outer-container{
  width:100%;
  height:100vh;
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('./email-subs-img/background.png');
  background-size:cover;
  background-position:center;
  color:white;
  padding:10%;
}
.outer-container h3{
  font-size:20px;
}
.outer-container h1{
  font-weight:bold;
  margin-top:20px;
  margin-bottom:10px;
  line-height:50px;
}
form{
  display:flex;
  margin:30px 0;
  width:300px;
  margin-bottom:8px;
}
form input{
  border:none;
  outline:none;
  padding:15px;
  flex:1;
}
form button{
  background-color:rgb(7, 118, 7);
  width:60px;
  padding:2px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  border:none;
}
form button i{
  color:white;
  font-size:17px;
}
span{
  color:rgb(67, 176, 67);
}